@{
  ViewBag.Title = "Bootstrap, Glyphicons and FontAwesome";
}
<h2>@ViewBag.Title.</h2>


<p>Sample UI for demonstration </p>
@*<div style="display: inline-block;">
    <ul class="list-inline">
        <li class="glyphicon glyphicon-camera">One</li>
        <li class="glyphicon glyphicon-heart">Two</li>
    </ul>
</div>*@

<ul class="nav nav-pills">
    <li class="active">
        <a href="#"><span class="glyphicon glyphicon-heart"/> Favorites</a>
       
    </li>
    <li class="alert-info"><a href="#"><span class="glyphicon glyphicon-camera" /> Pictures</a></li>
    <li class="alert-info"><a href="#"><span class="glyphicon glyphicon-globe" /> World</a></li>
</ul>
